#bootstrap-overload {

    margin: 0 auto;
}

#bootstrap-overload .img-resposive{

}

#bootstrap-overload .share{
    padding: 0;
}

#bootstrap-overload .profile-tab{
    margin: 5% 0;
}

#bootstrap-overload .sensor-tab{
    margin: 5% 0;
}

#bootstrap-overload .add-sensor-tab{
    margin: 5% 0;
}


#bootstrap-overload .delete-sensor-tab{
    margin: 5% 0;
}