<div id="bootstrap-overload">
    <div role="tabpanel" class="tab-pane" id="delete-sensor">
        <div class="delete-sensor-tab">
            <div class="add-sensor-tab">
                <form role="form">
                    <legend>Sensor Name</legend>
                    <div class="form-group">
                        <label for="">Sensor Name</label>
                        <input type="text" class="form-control" id="" placeholder="Input field">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>