<div id="bootstrap-overload">
    <div role="tabpanel" class="tab-pane" id="sensors">
        <div class="sensor-tab">
            <ul class="list-group">
                <li class="list-group-item"><a (click)="goToSensorDetail()">Temperature Sensor</a>
                    <button type="button" class="btn btn-default pull-right share" aria-label="Left Align">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    </button>
                </li>
                <li class="list-group-item"><a (click)="goToSensorDetail()">Smoke Sensor</a>
                    <button type="button" class="btn btn-default pull-right share" aria-label="Left Align">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    </button>
                </li>
                <li class="list-group-item"><a (click)="goToSensorDetail()">Fire Sensor</a>
                    <button type="button" class="btn btn-default pull-right share" aria-label="Left Align">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>