<div id = "bootstrap-overload">

    <div role="tabpanel" class="tab-pane" id="add-data">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 add-data-tab">
            <form role="form">
                <legend>Add Data</legend>
                <div class="form-group">
                    <label for="">Write Key</label>
                    <input type="text" class="form-control" id="" placeholder="Enter your Write Key">
                </div>
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" class="form-control" id="key" placeholder="Enter you Key">
                </div>
                <div class="form-group">
                    <label for="value">Value</label>
                    <input type="text" class="form-control" id="value" placeholder="Enter your Value">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>